Repository kyma-project/docker-registry, pull requests merged in 2024-06, with the labels that each got.

#49 Add Azure storage support
  components/operator/api/v1alpha1/dockerregistry_types.go
  components/operator/api/v1alpha1/zz_generated.deepcopy.go
  components/operator/internal/chart/flags.go
  components/operator/internal/registry/secret.go
  components/operator/internal/state/controller_configuration.go
  components/operator/internal/state/controller_configuration_test.go
  components/operator/internal/state/registry.go
  components/operator/internal/state/registry_test.go
  components/operator/internal/state/state.go
  config/docker-registry/values.yaml
  config/operator/base/crd/bases/operator.kyma-project.io_dockerregistries.yaml
Labels: cla: yes, lgtm, size/L, area/docker-registry

#53 remove markdown link checker on schedule
  .github/workflows/markdown.yaml
Labels: cla: yes, lgtm, size/XS, area/docker-registry

#48 Add s3 storage support
  components/operator/api/v1alpha1/dockerregistry_types.go
  components/operator/api/v1alpha1/zz_generated.deepcopy.go
  components/operator/internal/chart/flags.go
  components/operator/internal/state/registry.go
  components/operator/internal/state/registry_test.go
  config/docker-registry/values.yaml
  config/operator/base/crd/bases/operator.kyma-project.io_dockerregistries.yaml
Labels: cla: yes, lgtm, size/L

#54 Document how to expose Registry with Istio
  docs/user/tutorials/01-20-expose-registry.md
Labels: cla: yes, lgtm, size/M, area/docker-registry

#55 Remove unused fields from the CR's types
  components/operator/api/v1alpha1/dockerregistry_types.go
  components/operator/internal/chart/flags.go
  components/operator/internal/chart/flags_test.go
  components/operator/internal/state/controller_configuration.go
  components/operator/internal/state/controller_configuration_test.go
  tests/operator/main.go
Labels: cla: yes, lgtm, size/L, area/docker-registry, kind/chore

#56 Refactor the `sFnControllerConfiguration` state function
  components/operator/internal/state/configuration_status.go
  components/operator/internal/state/configuration_status_test.go
  components/operator/internal/state/registry.go
  components/operator/internal/state/registry_test.go
Labels: cla: yes, lgtm, size/S, area/docker-registry, kind/chore

#58 Split the `sFnRegistryConfiguration` function
  components/operator/internal/state/initialize.go
  components/operator/internal/state/initialize_test.go
  components/operator/internal/state/registry.go
  components/operator/internal/state/registry_test.go
  components/operator/internal/state/storage.go
  components/operator/internal/state/storage_test.go
  config/operator/base/crd/bases/operator.kyma-project.io_dockerregistries.yaml
Labels: cla: yes, lgtm, size/L, area/docker-registry, kind/chore

#60 add s3 status field
  components/operator/internal/state/configuration_status.go
Labels: cla: yes, lgtm, size/XS

#61 Document registry storage
  docs/user/resources/06-20-docker-registry-cr.md
  docs/user/technical-reference/04-30-storage-configuration.md
Labels: cla: yes, lgtm, size/L, kind/chore, area/documentation

#57 Use consistent labels
  config/operator/base/crd/kustomization.yaml
  config/operator/base/deployment/deployment.yaml
  config/operator/base/kustomization.yaml
  config/operator/base/rbac/editor_role.yaml
  config/operator/base/rbac/kustomization.yaml
  config/operator/base/rbac/role_binding.yaml
  config/operator/base/rbac/service_account.yaml
  config/operator/base/rbac/viewer_role.yaml
  config/operator/base/ui-extensions/dockerregistry/kustomization.yaml
Labels: cla: yes, lgtm, size/M

#59 Remove `isInternal` field
  components/operator/internal/registry/secret.go
  components/operator/internal/state/registry_test.go
  config/docker-registry/templates/registry-config.yaml
Labels: cla: yes, lgtm, size/S, area/docker-registry, kind/chore

#62 Print more details about registry access in the CR status
  components/operator/api/v1alpha1/dockerregistry_types.go
  components/operator/api/v1alpha1/zz_generated.deepcopy.go
  components/operator/internal/chart/chart.go
  components/operator/internal/chart/flags.go
  components/operator/internal/registry/node_port.go
  components/operator/internal/registry/node_port_test.go
  components/operator/internal/registry/service.go
  components/operator/internal/state/access.go
  components/operator/internal/state/access_test.go
  components/operator/internal/state/configuration_status.go
  components/operator/internal/state/configuration_status_test.go
  components/operator/internal/state/fsm.go
  config/operator/base/crd/bases/operator.kyma-project.io_dockerregistries.yaml
Labels: cla: yes, lgtm, size/L, area/docker-registry, kind/feature

#67 restore old label selector
  config/operator/base/crd/bases/operator.kyma-project.io_dockerregistries.yaml
  config/operator/base/crd/kustomization.yaml
  config/operator/base/deployment/deployment.yaml
  config/operator/base/kustomization.yaml
Labels: cla: yes, lgtm, size/M

#69 Update types and resources to support registry exposure
  components/operator/api/v1alpha1/dockerregistry_types.go
  components/operator/api/v1alpha1/zz_generated.deepcopy.go
  components/operator/controllers/controller_rbac.go
  config/docker-registry/templates/virtualservice.yaml
  config/docker-registry/values.yaml
  config/operator/base/crd/bases/operator.kyma-project.io_dockerregistries.yaml
  config/operator/base/rbac/role.yaml
  config/samples/exposed-dockerregistry-cr.yaml
Labels: cla: yes, lgtm, size/L, area/docker-registry, kind/feature

#68 Expose registry
  components/operator/internal/chart/flags.go
  components/operator/internal/istio/istio.go
  components/operator/internal/istio/istio_test.go
  components/operator/internal/registry/external_access.go
  components/operator/internal/registry/external_access_test.go
  components/operator/internal/state/access.go
  components/operator/internal/state/access_test.go
  components/operator/internal/state/fsm.go
  components/operator/main.go
  config/docker-registry/templates/virtualservice.yaml
  go.mod
  go.sum
Labels: cla: yes, lgtm, size/L, area/docker-registry, kind/feature

#71 Cleanup pvc when s3 or azure is used
  components/operator/internal/chart/flags.go
  components/operator/internal/state/storage.go
Labels: cla: yes, lgtm, size/XS

#70 Update status when registry is exposed
  components/operator/internal/state/configuration_status.go
  components/operator/internal/state/configuration_status_test.go
Labels: cla: yes, lgtm, size/M, area/docker-registry, kind/feature

#74 Fix storage tests
  components/operator/internal/state/storage_test.go
Labels: cla: yes, lgtm, size/XS

#72 Warn user when gateway can't be used
  components/operator/internal/registry/external_access.go
  components/operator/internal/registry/external_access_test.go
  components/operator/internal/state/access.go
  components/operator/internal/state/access_test.go
  components/operator/internal/state/configuration_status.go
  components/operator/internal/state/configuration_status_test.go
Labels: cla: yes, lgtm, size/L, area/docker-registry, kind/feature

#76 Implement the `HostPrefix` for external access
  components/operator/internal/state/access.go
  components/operator/internal/state/access_test.go
  components/operator/internal/state/utils.go
Labels: cla: yes, lgtm, size/S, area/docker-registry, kind/feature

#73 refactor status types
  components/operator/api/v1alpha1/dockerregistry_types.go
  components/operator/controllers/controller_test.go
  components/operator/internal/registry/secret.go
  components/operator/internal/state/access_test.go
  components/operator/internal/state/configuration_status.go
  components/operator/internal/state/configuration_status_test.go
  components/operator/main.go
  config/operator/base/crd/bases/operator.kyma-project.io_dockerregistries.yaml
Labels: cla: yes, lgtm, size/M, area/docker-registry, kind/feature
